<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhooe.mcm.it.adid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.design.DesignActivity"
            android:configChanges="orientation"
            android:label="@string/design_quiz"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mcm.it.adid.controller.activities.MainActivity" />
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.implementation.ImplementationActivity"
            android:configChanges="orientation"
            android:label="@string/implementation_quiz"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mcm.it.adid.controller.activities.MainActivity" />
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.deployment.DeploymentActivity"
            android:configChanges="orientation"
            android:label="@string/deployment_quiz"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mcm.it.adid.controller.activities.MainActivity" />
        </activity>
        <activity android:name="at.fhooe.mcm.it.adid.controller.activities.analysis.AnalysisActivity" 
            android:configChanges="orientation"
            android:label="@string/analysis_quiz"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="at.fhooe.mcm.it.adid.controller.activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
